
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.hero-section{
    background-image: url('images/donation13.jpg');
    background-repeat: repeat;
    background-size: cover;
    margin-bottom: 100px;
    
}
.hero-text{
    text-align: center;
    color: white;
    padding-top: 120px;
    padding-bottom: 120px;

}
.hero-text h1{
    font-size: 60px;
    text-transform: capitalize;
    color: #fff;
}
.hero-text p{
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 60px;
}

.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 17px 20px;
    color: #fff;
    border-radius: 5px;
    transition: .5s;
    font-size: 25px;
}
.link-button:hover{
    background-color: blue;
}
/* Donation Area start*/
.donate-item{
    text-align: center;
}
.donate-item h2{
    font-size: 45px;
    font-weight: 700;
}
.donate-item p{
    font-size: 20px;
    color: grey;
    margin-bottom: 40px;
}
.donate-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.donate-section{
    margin-bottom: 150px;
}
.item-color{
    width: 100px;
    height: 100px;
    background-color: rgb(252, 241, 241);
    margin: 0 20px;
    padding: 20px;
    font-size: 30px;
    box-shadow: 10px 10px 40px grey;
}
#amount-color{
    border: 4px solid tomato;
    color: tomato;
    
}
.input-center{
    text-align: center;

}
.input-field{
    border: none;
    border-bottom: 50px;
    border-bottom: 2px solid grey;
    padding: 10px 250px;
    text-align: center;
    margin-bottom: 45px;
    font-size: 25px;
}

.parrent-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
#sky-blue{
    background-color: aquamarine;
    margin-right: 20px;
    padding: 20px;
    width: 280px;
    height: 280px;
    font-size: 18px;
    border-radius: 10px;
}
#light-pink{
    background-color: lightpink;
    margin-right: 20px;
    padding: 20px;
    width: 280px;
    height: 280px;
    font-size:18px;
    border-radius: 10px;
}  
#yellow{
    background-color: lightyellow;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    height: 280px;
    font-size: 18px;
}  
.donation-section{
    margin-bottom: 120px;
}
/* Donation Area end */
/* people area start */
.people-text{
    text-align: center;
    font-size: 30px;
}
.father-item img{
    width: 100%;
}
.father-item{
    display: flex;
}
.child-item{
    margin: 20px;
    box-shadow: 10px 10px 40px grey;
    padding: 10px;
    border-radius: 10px;
}
.btn-style{
    background-color: tomato;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    transition: .5s;
}
.btn-style:hover{
    background-color: blue;
}
.people-section{
    margin-bottom: 120px;
}
/* people area ends */

/* update area start */
.update-text{
    text-align: center;
    margin-bottom: 40px;
}
.update-text h2{
    font-size: 45px;
}
.update-text p{
    font-size: 20px;
    color: grey;
}
.update-section{
    margin-bottom: 120px;
}
.subscribe{
    width: 60%;
    background-color: blanchedalmond;
    margin: 0 auto;
    padding: 100px 100px;
    text-align: center;
    border-radius: 5px;
}
.input-style{
    padding: 20px 70px;
    font-size: 20px;
    border: none;
    background-color: lightgray;
    border-radius: 5px;
}
.subscribe-button{
    padding: 20px 70px;
    font-size: 20px;
    border-radius: 5px;
    background-color: tomato;
    color: #fff;
    border: none;
}
/* update area ends */

/* Footer Section start */
.footer-text{
    text-align: center;
    background-color: #000;
    padding:50px;
   
}
.footer-text h3{
    color: tomato;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}
.footer-text p{
    color: #fff;
   
}
/* Footer Section ends */